/* ================= GRID ================= */

.hp-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(160px, 1fr));
  gap: 16px;
  margin-top: 20px;
}

/* ================= CARD ================= */

.hp-card {
  background: linear-gradient(
    to bottom,
    var(--bege-card),
    var(--bege-card-2)
  );
  border-radius: 18px;
  padding: 16px;
  cursor: pointer;
  box-shadow: 0 6px 18px rgba(0,0,0,0.15);
  transition: transform 0.15s ease;
}

.hp-card:active {
  transform: scale(0.97);
}

/* ================= BOTÃO FECHAR ================= */

.hp-fechar {
  position: absolute;
  top: 12px;
  right: 12px;
  width: 32px;
  height: 32px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  border: none;
  background: var(--verde-escuro);
  color: white;
  font-size: 16px;
  cursor: pointer;
}

.hp-btn-gerar {
  width: 50%;
  padding: 5px; 
  margin-top: 16px;
  text-align: center;

  border: none;
  border-radius: 12px;

  font-size: 16px;
  font-weight: 600;

  color: #1b5e20;

  background: linear-gradient(90deg, #FFD700, #FFC107);

  box-shadow: 0 4px 12px rgba(0,0,0,0.15);

  transition: all 0.2s ease;
}

/* Hover (web) */
.hp-btn-gerar:hover {
  transform: translateY(-1px);
  box-shadow: 0 6px 16px rgba(0,0,0,0.2);
}

/* Clique */
.hp-btn-gerar:active {
  transform: scale(0.97);
}

/* Desabilitado */
.hp-btn-gerar:disabled {
  background: #ccc;
  color: #666;
  box-shadow: none;
}



/* ================= TOGGLE ================= */

.hp-toggle {
  cursor: pointer;
  color: var(--verde-escuro);
  margin-top: 8px;
  font-weight: 500;
}

/* ================= PREPARO ================= */

.hp-preparo {
  background: #f5f5f5;
  padding: 5px;
  border-radius: 10px;
  margin-top: 10px;
  align-items: center;
}

.hp-preparo ol {
  padding-left: 16px;
  margin: 0;
  list-style-position: inside;
}

.hp-preparo li {
  margin-bottom: 8px;
  line-height: 1.5;
}

.hp-preparo li::marker {
  color: #2e7d32; /* verde do app */
  font-weight: bold;
}

.hp-refeicao {
  display: flex;
  align-items: center;
  gap: 6px;
  font-weight: 500;
  margin-top: 6px;
}

.hp-card.completo {
  border: 2px solid #22c55e;
  box-shadow: 0 0 12px rgba(34,197,94,0.5);
  transform: scale(1.02);
}

.hp-card.animando {
  animation: pulse 0.6s ease;
}

@keyframes pulse {
  0% { transform: scale(1); }
  50% { transform: scale(1.08); }
  100% { transform: scale(1.02); }
}

.confete-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
  overflow: hidden;
}

.confete {
  position: absolute;
  width: 8px;
  height: 8px;
  background: #22c55e;
  top: -10px;
  left: calc(100% * var(--i));
  animation: cair 1.5s linear forwards;
}

.confete:nth-child(odd) {
  background: #4ade80;
}

.confete:nth-child(even) {
  background: #16a34a;
}

@keyframes cair {
  to {
    transform: translateY(100vh) rotate(360deg);
  }
}